body {
    background-color: #f2eddb;
}

.btn {
    background-color: #542434;
}

.navbar {
    background-color: #3D5B5D;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    max-height: 100px;
}

section {
    background-image: url("/bookshelves.jpg");
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.my-5 {
    background-image: url("/bookshelves.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}




footer  {
  background-color: #3D5B5D;
  color: white;
}