body {
    background-color: #f2eddb;
}

.btn {
    background-color: #542434;
}

.navbar {
    background-color: #3D5B5D;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    max-height: 100px;
}

.my-5 {
    background-image: url("/bookshelves.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.main-text {
    background: rgb(247,247,247);
    background: linear-gradient(0deg, rgba(247,247,247,0.75) 0%, rgba(255,253,248,0.75) 100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 15px;
}

.dashboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 600px;
    padding: 15px;
}

.form-group {
    padding: 10px 15px;
    margin: 5px 0;
}

.books-heading {
    margin-top: 20px;
}

footer {
    background-color: #3D5B5D;
    color: white;
}

.nav-item {
    color: white;
}

footer .nav-link {
    color: white;
}
