<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mybrary Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="script" th:href="@{/js/scripts.js}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<nav th:replace="fragments :: navigation-loggedin"></nav>

<div class="dashboard px-4 py-5 text-center">
    <h1>Add book</h1>
    <form method="post">
        <div class="form-group">
            <label>Title
                <input class="form-control" type="text" th:field="${booksDTO.bookTitle}" />
            </label>
            <p class="error" th:errors="${booksDTO.bookTitle}"></p>
        </div>
        <div class="form-group">
            <label>Author
                <input class="form-control" type="text" th:field="${booksDTO.bookAuthor}" />
            </label>
            <p class="error" th:errors="${booksDTO.bookAuthor}"></p>
        </div>
        <div class="form-group">
            <label>Format
                <select class="form-select" aria-label="Default select example" th:field="${booksDTO.bookFormat}">
                    <option selected value="Default">Select book format</option>
                    <option value="Hardback">Hardback</option>
                    <option value="Paperback">Paperback</option>
                    <option value="Digital">Digital</option>
                </select>
            </label>
            <p class="error" th:errors="${booksDTO.bookFormat}"></p>
        </div>
        <div>
            <input type="submit" class="btn btn-dark btn-lg px-4 me-md-2" value="Save" />
        </div>
    </form>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>