<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mybrary Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="script" th:href="@{/js/scripts.js}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<nav th:replace="fragments :: navigation-loggedin"></nav>


<div class="books px-4 py-5 text-center">
    <h1 class="books-heading display-6 text-center">My Books</h1>
    <div class="px-4 py-5 text-center">
        <table id="sortTable" class="table table-striped">
            <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Format</th>
            </tr>
            </thead>
            <tr th:each="book : ${books}">
                <td th:text="${book.bookTitle}"></td>
                <td th:text="${book.bookAuthor}"></td>
                <td th:text="${book.bookFormat}"></td>
            </tr>
        </table>
    </div>
    <p class="lead text-center" th:text="${noBooks}"></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a th:href="@{/addBook}" class="btn btn-dark btn-lg px-4 me-md-2">Add a Book</a>
        </div>

    </div>
</div>


<footer th:replace="fragments :: footer"></footer>

<script>
$('#sortTable').DataTable();
</script>
</body>
</html>
