<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<nav th:replace="fragments :: navigation-loggedin"></nav>

<h1>My Books</h1>
<div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Format</th>
            </tr>
            </thead>
            <tr th:each="book : ${books}">
                <td th:text="${book.bookTitle}"></td>
                <td th:text="${book.bookAuthor}"></td>
                <td th:text="${book.bookFormat}"></td>
            </tr>
        </table>
    </div>
    <p th:text="${noBooks}"></p>
</div>


<footer th:replace="fragments :: footer"></footer>

</body>
</html>