<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mybrary Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<nav th:replace="fragments :: navigation-loggedin"></nav>

<div class="b-example-divider"></div>

<div class="dashboard px-4 py-5 text-center">
    <h1>Welcome to Mybrary books!</h1>
    <p>What would you like to do?</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a th:href="@{/addBook}" class="btn btn-dark btn-lg px-4 me-md-2">Add a Book</a>
        <a th:href="@{/books}" class="btn btn-dark btn-lg px-4">View My Books</a>
    </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>