<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mybrary Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="script" th:href="@{/js/scripts.js}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg" data-bs-theme="dark" th:fragment="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="title-logo.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link" th:href="@{/}">Home
<!--                        <span class="visually-hidden">(current)</span>-->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a href="/login" th:href="@{/register}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/register" th:href="@{/login}" class="nav-link">Log In</a>
                </li>
            </ul>
<!--                <a href="/login" th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>-->
<!--                <a href="/register" th:href="@{/register}" class="btn btn-outline-light me-2">Register</a>-->
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg" data-bs-theme="dark" th:fragment="navigation-loggedin">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="title-logo.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-end">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}">Dashboard
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addBook}">Add Book
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">My Books</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link">Logout</a>
                </li>
            </ul>

            </div>
        </div>
    </div>
</nav>


<!--<footer th:fragment="footer">-->
<!--    <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#"><img class="logo" src="logo.png" /></a>-->
<!--    </div>-->
<!--</footer>-->


    <footer th:fragment="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0">© 2023 Derbak Designs</p>
<!--        <ul class="nav col-md-4 justify-content-end">-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>-->
<!--&lt;!&ndash;            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>&ndash;&gt;-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>-->
<!--        </ul>-->
        <a href="/" class="justify-content-end">
            <a href="#"><img class="logo" src="logo.png" /></a>
        </a>
    </footer>



<body>

</body>
</html>