<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mybrary Books</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="script" th:href="@{/js/scripts.js}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <nav th:replace="fragments :: navigation"></nav>

    <div class="px-4 py-5 my-5 text-center bg-body-tertiary">
<!--        <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <div class="main-text rounded-3">
            <h1 class="display-5 text-body-emphasis">Welcome!</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4 text-body-emphasis">Do you have a lot of books at home? Do you sometimes forget what you already own and buy duplicates?</p>
                <p class="lead mb-4 text-body-emphasis">Mybrary books is here to help! Designed especially for bibliophiles who need an easy solution to track their books. With Mybrary books, all of your personal books are at your fingertips.</p>
                <p class="lead mb-4 text-body-emphasis">Ready to get started? Click below to sign up or log in!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/login" th:href="@{/login}" class="btn btn-dark btn-lg px-4 me-md-2">Login</a>
                    <a href="/register" th:href="@{/register}" class="btn btn-dark btn-lg px-4">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>



    <section class="h-75">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <div class="text-center mb-4 pb-2">
                                <img src="book.png"
                                     alt="Bulb" width="100">
                            </div>

                            <figure class="text-center mb-0">
                                <blockquote class="blockquote">
                                    <p class="pb-3">
                                        <i class="fas fa-quote-left fa-xs text-primary"></i>
                                        <span class="lead font-italic">Read. Read anything. Read the things they say are good for you, and the things they claim are junk. You'll find what you need to find. Just read.</span>
                                        <i class="fas fa-quote-right fa-xs text-primary"></i>
                                    </p>
                                </blockquote>
                                <figcaption class="blockquote-footer mb-0">
                                    Neil Gaiman
                                </figcaption>
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="about px-4 py-5 text-center">
        <h1 class="display-6">About Us</h1>
        <br>
        <p  class="lead">
            Founded in 2023 by a passionate book lover, Mybrary Books is your dedicated app to celebrate and organize your personal book collection. Our goal is to honor the bond between readers and their books while offering an intuitive solution for cataloging and preservation.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/about" th:href="@{/about}" class="btn btn-dark btn-lg px-4 me-md-2">Learn More</a>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>