<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body class="container">

<nav class="navbar" th:replace="fragments :: navigation"></nav>


<form method="post">
    <div class="form-group">
        <label th:for="email">Email
            <input class="form-control" th:field="${loginFormDTO.email}">
        </label>
        <p class="error" th:errors="${loginFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

<footer th:replace="fragments :: footer"></footer>

</body>
